.jumbotron {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

main {
  margin-top: 90px;
}

.nav-color {
  background-color: black;
}

.nav-color-2 {
  background-color: black;
  color: white;
}

.bg-black {
  background-color: black !important;
}

.nav-link {
  color: white;
}

.img-2 {
  height: 400px;
}

.row-content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.login {
  /* position: absolute; */
  /* width: 100%;
  top: 0;
  z-index: -10; */
  background: url(../img/splash.jpg);
  background-size: cover;
}
